<main class="proyecto1">
  <!-- Menu a la izquierda -->
  <nav id="menuIzquierda">
    <div class="menuIzquierda-header">
      <h3>Cinthia Albini</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Links</p>
      <li>
        <a href="https://www.linkedin.com/in/cinthia-albini-662296113/" target="_blank">LinkedIn</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCVTEYC-839U6YjgBKpoaqmA" target="_blank">Youtube</a>
      </li>
      <li>
        <a href="https://github.com/withoutaunt/" target="_blank">Github</a>
      </li>
    </ul>
  </nav>

  <!-- Toolbar -->
  <div id="areaDeContenido">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <button class="btn btn-info">
          <a href="mailto:cinnalb@gmail.com">Enviar correo</a>
        </button>

      </div>
    </nav>
  <!-- Area de contenido -->
    <img
      src="https://media-exp1.licdn.com/dms/image/C4D03AQHJd98SxTOiWg/profile-displayphoto-shrink_200_200/0/1645202521373?e=1657756800&v=beta&t=9gArcvYYj67ZzCguZaF_qqZmXntxGsbf5iYqW_MI5UQ"
      alt="">

    <h2>Sobre mi</h2>
    <p>Mi nombre es Cinthia Albini. Tengo 25 años y vivo en Capital Federal. Soy profesora de ingles y me encuentro
      haciendo el curso de Angular en Coderhouse. </p>

  </div>
</main>